# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = 이경훈
	email = googolhkl@gmail.com
[core]
  editor = vim
	pager = less 
	autocrlf = input

# 색상 관련
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

# Mergetool, diff
# 참조: https://git-scm.com/book/ko/v1/Git%EB%A7%9E%EC%B6%A4-Git-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	trustExitCode = false
[diff]
	external = extDiff

[alias]
  last = log -1 HEAD
  # 참조1 https://git-scm.com/docs/pretty-formats
  # 참조2 https://coderwall.com/p/euwpig/a-better-git-log
  log-detail = log --all --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  cm = commit
